<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title - Фотограф в Туле</title>
    <link href="~/Content/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
</head>
<body>

    @RenderBody()
    <footer>
        <div class="variant_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"><p>Георгий Крупин</p></div>
                    <div class="col-lg-4">
                        <p>Фотограф в <span>Туле</span></p>
                    </div>
                    <div class="col-lg-4">
                        <p>8 (920) 749 04 83</p>
                    </div>

                    </div>
                </div>
                <p id="copyright">&copy; @DateTime.Now.Year - Mary Semyakova</p>
          </div>
</footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/javas.js"></script>
    <script src="~/Scripts/jcarousel.responsive"></script>
    <script src="~/Scripts/jcarousel.basic"></script>
</body>
</html>